<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="language" value="en"/>
    <add key ="language1" value="sr"/> 
  </appSettings>
  <connectionStrings>
    <add name="CinemaDBApp" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Port=3306;Database=mycinemadb;UserId=root;Password=root123;" />
  </connectionStrings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>